html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', Arial;
    letter-spacing: 0.01em;
    font-size: 1em;
    padding: 40px;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 4px;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    margin: 0;
    font: 1em/1.5 'Roboto Condensed';
}

div, section, input, textarea, select, button {
    box-sizing: border-box;
}

button {
    user-select: none;
    moz-user-select: none;
    webkit-user-select: none;
    ms-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', Arial;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 2em;
}

.container {
    width: 350px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.ng-cloak {
    display: none;
}
